services:
  docling:
    env_file: env/docling.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://127.0.0.1:5001/health || exit 1
      timeout: 5s
    image: quay.io/docling-project/docling-serve:latest
    restart: unless-stopped

  edgetts:
    depends_on:
      - watchtower
    env_file: env/edgetts.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 5s
      test: "curl --fail http://127.0.0.1:5050/voices -H 'Authorization: Bearer your_api_key_here' || exit 1"
      timeout: 5s
    image: travisvn/openai-edge-tts:latest
    restart: unless-stopped

  mcp:
    command: --config /app/conf/config.json
    depends_on:
      - watchtower
    env_file: env/mcp.env
    image: ghcr.io/open-webui/mcpo:latest
    restart: unless-stopped
    volumes:
      - ./conf/mcp:/app/conf:ro

  ollama:
    depends_on:
      - watchtower
    env_file: env/ollama.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://127.0.0.1:11434/api/version || exit 1
      timeout: 3s
    image: ollama/ollama:latest
    restart: unless-stopped
    volumes:
      - ollama:/root/.ollama

  openwebui:
    depends_on:
      - docling
      - postgres
      - edgetts
      - mcp
      - ollama
      - searxng
      - tika
      - watchtower
    env_file: env/openwebui.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://127.0.0.1:8080/health || exit 1
      timeout: 3s
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - 3000:8080
    restart: unless-stopped
    volumes:
      - openwebui:/app/backend/data

  postgres:
    depends_on:
      - watchtower
    env_file: env/postgres.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      timeout: 5s
    image: pgvector/pgvector:pg15
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    depends_on:
      - watchtower
    env_file: env/redis.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      timeout: 3s
    image: redis/redis-stack:latest
    restart: unless-stopped

  searxng:
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    cap_drop:
      - ALL
    env_file: env/searxng.env
    depends_on:
      - redis
      - watchtower
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 10s
      test: curl --fail http://127.0.0.1:8080/ || exit 1
      timeout: 3s
    image: searxng/searxng:2025.5.18-5dff826
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    restart: unless-stopped
    volumes:
      - searxng:/etc/searxng

  tika:
    env_file: env/tika.env
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 5s
      test: curl --fail http://127.0.0.1:9998/tika || exit 1
      timeout: 5s
    image: apache/tika:latest-full
    restart: unless-stopped

  watchtower:
    command: --cleanup --debug --interval 300
    env_file: env/watchtower.env
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  ollama:
    external: false
  openwebui:
    external: false
  postgres:
    external: false
  searxng:
    external: false
